$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color:#dc3545;
$success-color: #28a745;
$max-width: 1100px;

@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #333;
    }@else {
        @return #fff;
    }
}
 @mixin set-background($color) {
     background-color: $primary-color;
     color: set-text-color($color);
     
 }
 $spaceamounts: (1,2,3,4,5);
 @each $space in $spaceamounts {
     .m-#{$space} {
         margin: #{$space}rem;
     }
     .my-#{$space} {
         margin: #{$space} rem 0;
     }
     .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space} rem 0;
    }
 }